/*height and width on the container of the map (the div) is required of the map won't show up. this was a pain to find out */
#map {
	height: 400px;
    width: 100%;
}
#content {
    margin-top: 100px;
    text-align: center;
}
.footer{
	text-align:center;
}

#breweryInfo {
	display: none;
}

/* Sam Added */
#breweryReview p {
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 5px 50px;
	width: 200px;
    margin-left: 80px;
}